body{
    background-color: #ffffff;
    font-family: 'Assistant', sans-serif;
    color: #071C4D;
}

// Navbar
.navbar-brand{
    img{
        max-height: 40px;
    }
}
.navbar-light{
    .navbar-nav{
        .nav-link{
            color: #071C4D;

            &.active{
                font-weight: bold;
                color: #071C4D !important;
            }
        }
    }
}
.btn-navbar-right{
    margin-top: -10px !important;
    margin-bottom: -8px !important;
    margin-right: -18px !important;
    height: 70px;
    border-radius: 0;
}
.btn-login{
    background-color: #071C4D;
    color: #ffffff;
    &:hover{
        background-color: #1E3771;
        color: #ffffff;
    }
}

// Header
header{
    padding: 180px 0 165px;
    margin-top: -70px;
    background-image: url('../images/header.jpg');
    background-size: cover;

    h1, p{
        color: #ffffff;
    }
    h1{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 50px;
    }
    p{
        font-size: 22px;
    }

    .btn-get-started{
        background-color: #FF9E53;
        color: #ffffff;

        &:hover{
            background-color: #FFAA69;
            color: #ffffff;
        }
    }
}

// Statistik
.section-stats{
    margin-top: -50px;

    .stats-detail{
        padding-top: 15px;
        background-color: #ffffff;
        padding-left: 40px;

        h2{
            font-size: 30px;
            margin-bottom: 0;
        }
        p{
            font-size: 20px;
            font-weight: lighter;
        }
    }
}

// Wisata Popular
.section-popular{
    min-height: 540px;
    background-color: #051334;
    margin-top: -50px;
    margin-bottom: -230px;

    // Section Popular Heading
    .section-popular-heading{
        margin-top: 150px;

        h2,p{
            color: #ffffff;
        }
        h2{
            font-family: 'Playfair Display', serif;
            font-weight: bold;
            font-size: 40px;
        }
        p{
            font-size: 18px;
        }
    }
}

// Section popular content
.section-popular-content{
    .section-popular-travel{
        .card-travel{
            min-height: 380px;
            background-color: #000000;
            color: #ffffff;
            padding: 30px;
            background-size: cover;
            margin-bottom: 20px;
        }
        .travel-country{
            font-size: 18px;
            color: #ffffff;
        }
        .travel-location{
            font-size: 26px;
            color: #ffffff;
        }
        .travel-button{
            .btn-travel-details{
                background-color: #FF9E53;
                color: #ffffff;

                &:hover{
                    background-color: #FFAA69;
                    color: #ffffff;
                }
            }
        }
    }
}

// Networks
.section-networks{
    background-color: #ffffff;
    margin-top: -170px;
    padding-top: 240px;
    padding-bottom: 50px;

    h2{
        font-family: 'Playfair Display', serif;
        font-weight: bold;
        font-size: 40px;
    }
    
    p{
        font-size: 18px;
    }

    img{
        max-width: 100%;
    }
}

// Section Testimonial Heading
.section-testimonial-heading{
    background: linear-gradient(#ffffff 0%, #F7F9FF 100%);
    padding-top: 50px;
    min-height: 506px;

    h2{
        font-family: "Playfair Display", serif;
        font-weight: bold;
        font-size: 40px;
    }

    p{
        font-size: 18px;
    }
}

// Section Testimonial Content
.section-testimonial-content{
    margin-top: -300px;
    padding-bottom: 50px;

    // Bagian Card
    .card-testimonial{
        padding: 40px 20px 10px;
        border-radius: 11px;
        margin-bottom: 20px;

        .testimonial-content{
            min-height: 380px;
        }

        h3{
            font-size: 22px;
        }

        .testimonial{
            font-weight: 200;
            font-size: 26px;
            color: #6E6E6E;
        }

        .trip-to{
            font-weight: normal;
            font-size: 22px;
            color: #6E6E6E;
        }

        hr{
            margin-left: -20px;
            margin-right: -20px;
        }
    }

    // Bagian Button Need help dan Started

    .btn-need-help{
        background-color: #F2F2F2;
        color: #C3C3C3;

        &:hover{
            background-color: #FAFAFA;
            color: #C3C3C3;
        }
    }
    
    .btn-get-started{
        background-color: #FF9E53;
        color: #ffffff;

        &:hover{
            background-color: #FFAA69;
            color: #ffffff;
        }
    }
}

// Bagian Footer
.section-footer{
    a{
        color: #071C4D;
        font-size: 18px;
    }
    h5{
        font-size: 22px;
        color: #071C4D;
    }
}


// Bagian Halaman Details
// Section details header
.section-details-header{
    min-height: 310px;
    background-color: #E4E6EB;
    margin-top: -70px;
}

// Section details content
.section-details-content{
    margin-top: -210px;
    min-height: 100vh;
    .breadcrumb{
        background-color: transparent;
        padding: 0;
        margin-bottom: 30px;
    }
    .breadcrumb-item{
        font-size: 20px;
        font-weight: lighter;
        &.active{
            font-size: 20px;
            font-weight: bold;
            color: #071C4D;
        }
    }

    // Bagian card details
    .card-details{
        padding: 30px;
        border-radius: 11px;

        h1{
            font-size: 26px;
        }
        h2{
            font-size: 20px;
        }
        p{
            font-size: 18px;
            color: #B1B1B1;
        }
        
        // Bagian Gallery
        .gallery{
            .xzoom-container{
                display: block;

                .xzoom{
                    width: 100%;
                    box-shadow: none;
                    margin-bottom: 10px;
                }                
            }

            .xzoom-thumbs{
                .xactive{
                    border: 4px solid #1ABC9C;
                    box-shadow: none;
                }
                
                a{
                    &:hover{
                        text-decoration: none;
                    }
                }                                
            }

        }
        // Bagian features
        .features{
            margin-top: 20px;

            .features-image{
                width: 45px;
                height: 45px;
                float:left;
            }

            .description{
                margin-left: 10px;
                overflow: hidden;
                float: left;

                h3{
                    font-size: 18px;
                    color: #071C4D;
                    margin-bottom: 0;
                }
                p{
                    margin-bottom: 0;
                }
            }            
            
        }

        // Halaman Checkout
        // Bagian Member
        .member{
            .gj-datepicker{
                .datepicker{
                    border-right: 0;
                }

                .input-group-append{
                    .btn{
                        padding-right: 30px;
                    }
                }
            }

            .btn-add-now{
                background-color: #071C4D;
                color: #FFFFFF;

                &:hover{
                    background-color: #1E3771;
                    color: #FFFFFF;
                }
            }

            h3{
                font-weight: 600;
                font-size: 14px;
                color: #071C4D;
            }

            .disclaimer{
                font-size: 14px;
                color: #B1B1B1;
                font-weight: lighter;
            }
        }
    }
    
    // Members trip information
    .card-right{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom: 0;

        h2{
            font-size: 20px;
            color: #071C4D;
            font-weight:500;
        }

        .members{
            .member-image{
                width: 40px;
                height: 40px;
            }
        }

        .trip-informations{
            tr{
                th{
                    font-size: 18px;
                    color: #071C4D;
                    font-weight: 300;
                }
                td{
                    font-size: 18px;
                    color: #B1B1B1;
                    font-weight: lighter;                    
                }

                .text-total{
                    .text-blue{
                        color: #071C4D !important;
                        font-weight: bold ;
                    }
                    .text-orange{
                        color: #FF9E53;
                        font-weight: bold;
                    }
                }
            }
        }

        // Payment Instructions
        .payment-instructions{
            font-weight: 300;
            font-size: 14px;
            color: #B1B1B1;
        }

        // Bank
        .bank{
            .bank-item{

                .bank-image{
                    width: 45px;
                    height: 45px;
                    float: left;
                }

                .description{
                    margin-left: 10px;
                    overflow: hidden;
                    float: left;

                    h3{
                        font-size: 18px;
                        color: #071C4D;
                        margin-bottom: 0;
                    }
                    p{
                        font-weight: normal;
                        font-size: 16px;
                        color: #071C4D;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }

    // Button Join Now
    .join-container{
        margin-top: -16px;

        .btn-join-now{
            background-color: #FF9E53;
            color: #FFFFFF;
            border-radius: 0;

            &:hover{
                background-color: #FFAA69;
                color: #ffffff;
            }
        }
    }    
    
}

// Halaman Success
.section-success{
    height: 90vh;

    h1{
        font-weight: 600;
        font-size: 26px;
        color:#071C4D;
    }
    p{
        font-weight: 300;
        font-size: 18px;
        color: #B1B1B1;
    }
    .btn-home-page{
        background-color: #071C4D;
        color: #FFFFFF;
        border-radius: 4px;

        &:hover{
            background-color: #1E3771;
            color: #FFFFFF;
        }
    }
    .img-success{
        width: 266px;
        height: 266px;
    }

}

